* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: sans-serif;
  color: rgb(10, 10, 10);
}
html,
body {
  height: auto;
  width: 1440px;
  margin: auto;
  background: #fff;
}

/* Container -1 */
.container_1 {
  width: 1440px;
  height: 1797px;
  position: relative;
  background: rgba(248, 253, 255, 1);
  z-index: 1;
  overflow: hidden;
}

.right-oval {
  position: absolute;
  background: #ffffff;
  box-shadow: 0px 10px 50px 25px rgba(0, 59, 121, 0.0725798);
  height: 791px;
  width: 791px;
  left: 875px;
  top: -370px;
  border-radius: 395.5px;
  z-index: -1;
}

.left-oval {
  position: absolute;
  box-sizing: border-box;
  border: 100px solid #ffffff;
  box-shadow: 0px 10px 50px 12.5px rgba(0, 59, 121, 0.0725798),
    0px 10px 50px 12.5px rgba(0, 59, 121, 0.0725798) inset;
  height: 482px;
  width: 482px;
  left: -173px;
  top: -238px;
  border-radius: 241px;
  z-index: -1;
}

.navbar_brand {
  margin-left: 120px;
  margin-top: 40px;
  height: 43px;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 43px;
  float: left;
}

#medi {
  color: rgba(0, 115, 255, 1);
}

#care {
  color: rgba(255, 159, 106, 1);
}

.menu {
  float: left;
  margin-top: 40px;
}

#home {
  margin-left: 369px;
  margin-right: 54px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #0073ff;
}

#about {
  margin-right: 54px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #0073ff;
}

#services {
  margin-right: 52px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #0073ff;
}

#news {
  margin-right: 80px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #0073ff;
}

#contact {
  float: left;
  height: 50px;
  width: 170px;
  margin-top: 25px;
  border-radius: 25px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background: #007ff4;
  color: #f8fdff;
  border: none;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

.col_1 {
  float: left;
}

div.col_1 > div {
  margin-top: 201px;
  margin-left: 120px;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  font-style: normal;
  font-weight: 700;
  color: #002348;
}

div.col_1 > h1 {
  margin-top: 29px;
  margin-left: 120px;
  font-size: 64px;
  letter-spacing: 0px;
  text-align: left;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
  color: #003b79;
}

div.col_1 > p {
  margin-top: 23px;
  margin-left: 120px;
  height: 125px;
  width: 546px;
  border-radius: nullpx;
  font-size: 20px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
  color: #002348;
}

#appointment {
  margin-top: 44px;
  margin-left: 120px;
  height: 60px;
  width: 259px;
  border-radius: 30px;
  background: #007ff4;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  border: none;
}

#departments {
  position: relative;
  margin-top: 44px;
  margin-left: 24px;
  background: #ffffff;
  box-shadow: 0px 10px 50px 25px rgba(0, 59, 121, 0.0725798);
  border-radius: 30px;
  border: none;
  height: 60px;
  width: 259px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
}

.departments-shadow {
  position: absolute;
  border: none;
  height: 60px;
  width: 259px;
  left: 0px;
  top: 0px;
  z-index: -1;
  background: #f7f7f7;
}

.col_2 {
  float: left;
  margin-top: 81px;
  margin-left: 79px;
  height: 672px;
  width: 574px;
  border-radius: 32px;
  background: rgba(235, 238, 255, 1);
}

div.services > h2 {
  margin-top: 186px;
  margin-left: 441px;
  height: 78px;
  width: 559px;
  font-size: 54px;
  font-weight: 600;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: center;
  color: rgba(0, 59, 121, 1);
}

div.services > p {
  margin-top: 34px;
  margin-left: 430px;
  height: 78px;
  width: 580px;
  font-size: 20px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: center;
  color: rgba(0, 35, 72, 1);
}

.tooth {
  float: left;
  margin-left: 120px;
  margin-top: 69px;
  height: 323px;
  width: 273px;
  position: relative;
  background: #ffffff;
  box-shadow: 0px 10px 50px 25px rgba(0, 59, 121, 0.0725798);
  border-radius: 20px;
}

div.tooth > svg {
  height: 127.43462371826172px;
  width: 113.25347900390625px;
  left: 40px;
  top: 36px;
  border-radius: 0px;
  position: absolute;
}

div.tooth > div {
  left: 34px;
  top: 223px;
  border-radius: 0px;
  position: absolute;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
}

.lungs {
  float: left;
  margin-left: 36px;
  margin-top: 69px;
  height: 373px;
  width: 273px;
  border-radius: 20px;
  position: relative;
  background-color: #007ef3;
  box-shadow: 0px 10px 50px 25px rgba(0, 126, 243, 0.26049);
}

#lungs_svg {
  height: 127.43462371826172px;
  width: 113.25347900390625px;
  left: 40px;
  top: 36px;
  border-radius: 0px;
  position: absolute;
}

#tag {
  left: 34px;
  top: 223px;
  border-radius: 0px;
  position: absolute;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
}

#link {
  left: 34px;
  top: 304px;
  border-radius: nullpx;
  position: absolute;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
}

#arrow_svg {
  left: 222.5px;
  top: 304px;
  border-radius: 0px;
  position: absolute;
}

.brain {
  float: left;
  margin-left: 36px;
  margin-top: 69px;
  height: 323px;
  width: 273px;
  position: relative;
  background: #ffffff;
  box-shadow: 0px 10px 50px 25px rgba(0, 59, 121, 0.0725798);
  border-radius: 20px;
}

div.brain > svg {
  height: 127.43462371826172px;
  width: 113.25347900390625px;
  left: 40px;
  top: 36px;
  border-radius: 0px;
  position: absolute;
}

div.brain > div {
  left: 34px;
  top: 223px;
  border-radius: 0px;
  position: absolute;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
}

.pad {
  float: left;
  margin-left: 36px;
  margin-top: 69px;
  height: 323px;
  width: 273px;
  position: relative;
  background: #ffffff;
  box-shadow: 0px 10px 50px 25px rgba(0, 59, 121, 0.0725798);
  border-radius: 20px;
}

div.pad > svg {
  height: 127.43462371826172px;
  width: 113.25347900390625px;
  left: 40px;
  top: 36px;
  border-radius: 0px;
  position: absolute;
}

div.pad > div {
  left: 34px;
  top: 223px;
  border-radius: 0px;
  position: absolute;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
}

/* Container-2 */

.container_2 {
  height: 1127px;
  width: 1440px;
  background: rgba(255, 255, 255, 1);
}

.about {
  float: left;
  margin-left: 120px;
}

div.about > div {
  margin-top: 467px;
  height: 78px;
  width: 570px;
  font-size: 54px;
  font-weight: 600;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(0, 59, 121, 1);
}

div.about > p {
  margin-top: 34px;
  height: 78px;
  width: 575px;
  font-size: 20px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(0, 35, 72, 1);
}
#about_link {
  margin-top: 44px;
  height: 60px;
  width: 186px;
  border-radius: 30px;
  background: rgba(0, 127, 244, 1);
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
}
.dr_amb {
  float: left;
}
.dr {
  position: relative;
  margin-top: 282px;
  margin-left: 45px;
  height: 236px;
  width: 282px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 10px 50px 25px rgba(0, 59, 121, 0.0725798);
}
div.dr > svg {
  position: absolute;
  left: 25px;
  bottom: 120px;
}
div.dr > div {
  position: absolute;
  left: 26px;
  bottom: 52px;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(0, 35, 72, 1);
}
.ambulance {
  position: relative;
  margin-left: 45px;
  margin-top: 201px;
  height: 236px;
  width: 282px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 10px 50px 25px rgba(0, 59, 121, 0.0725798);
}
div.ambulance > svg {
  position: absolute;
  left: 25px;
  bottom: 120px;
}
div.ambulance > div {
  position: absolute;
  left: 26px;
  bottom: 52px;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(0, 35, 72, 1);
}

.attendent {
  float: left;
  position: relative;
  margin-left: 31px;
  margin-top: 483px;
  height: 242px;
  width: 282px;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 0px 10px 50px 25px rgba(0, 59, 121, 0.0725798);
}

div.attendent > svg {
  position: absolute;
  left: 25px;
  bottom: 120px;
}

div.attendent > div {
  position: absolute;
  left: 26px;
  bottom: 52px;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(0, 35, 72, 1);
}

/* container-3 */
.container_3 {
  height: 1606px;
  width: 1440px;
  background: rgba(248, 253, 255, 1);
  position: relative;
  overflow: hidden;
}

.right-oval-2 {
  position: absolute;
  box-sizing: border-box;
  left: 1177px;
  bottom: 1300px;
  border: 100px solid #ffffff;
  box-shadow: 0px 10px 50px 12.5px rgba(0, 59, 121, 0.0725798),
    0px 10px 50px 12.5px rgba(0, 59, 121, 0.0725798) inset;
  height: 482px;
  width: 482px;
  border-radius: 241px;
}

div.specialist > div {
  margin-top: 164px;
  margin-left: 375px;
  height: 78px;
  width: 735px;
  font-size: 54px;
  font-weight: 600;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: center;
  color: rgba(0, 59, 121, 1);
}

div.specialist > p {
  margin-top: 34px;
  margin-left: 447px;
  height: 78px;
  width: 546px;
  font-size: 20px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: center;
  text-align: center;
  color: rgba(0, 35, 72, 1);
}

.dr_details {
  display: flex;
  flex-direction: row;
  margin-top: 68px;
}
.dr_1 {
  margin-left: 120px;
  height: 448px;
  width: 274px;
  border-radius: 20px;
  box-shadow: 0px 10px 50px 25px rgba(0, 59, 121, 0.07);
  background: rgba(255, 255, 255, 1);
}
.dr_1_magenta,
.dr_2_magenta,
.dr_3_magenta,
.dr_4_magenta {
  height: 324px;
  width: 274px;
  border-radius: 20px 20px 0px 0px;
  background: rgba(174, 211, 226, 1);
}
.dr_1_name,
.dr_2_name,
.dr_3_name,
.dr_4_name {
  margin-top: 25px;
  margin-left: 34px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
}
.dr_1_stream,
.dr_2_stream,
.dr_3_stream,
.dr_4_stream {
  margin-top: 12px;
  margin-left: 34px;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
}
.dr_2,
.dr_3,
.dr_4 {
  margin-left: 35px;
  height: 448px;
  width: 274px;
  border-radius: 20px;
  box-shadow: 0px 10px 50px 25px rgba(0, 59, 121, 0.07);
  background: rgba(255, 255, 255, 1);
}

.review_content {
  margin-left: 121px;
  margin-top: 216px;
  font-size: 54px;
  font-weight: 600;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(0, 59, 121, 1);
}
.reviews {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}
#review_1 {
  margin-left: 121px;
  margin-top: 68px;
  margin-bottom: 50px;
  margin-right: -81px;
  height: 294px;
  width: 577px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 10px 50px 25px rgba(0, 59, 121, 0.0725798);
}
span#review_1 > p {
  margin-top: 48px;
  margin-left: 68px;
  height: 106px;
  width: 455px;
  font-size: 20px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(0, 35, 72, 1);
}
span#review_1 > img {
  margin-top: 30px;
  margin-left: 68px;
  height: 59px;
  width: 59px;
  border-radius: 29.5px;
  border: 1px solid rgba(151, 151, 151, 1);
}
span#review_1 > div {
  margin-top: -60px;
  margin-left: 149px;
  height: 30px;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(0, 35, 72, 1);
}
span#review_1 > div > div {
  margin-top: 8px;
  height: 23px;
  width: 54px;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(0, 35, 72, 1);
}
span#review_1 > div#badge_1 {
  margin-left: 513px;
  margin-top: -250px;
  height: 83px;
  width: 83px;
  border-radius: 41.5px;
  background: #007ff4;
  position: relative;
}
span#review_1 > div#badge_1 > div {
  position: absolute;
  margin-left: 31.57px;
  margin-top: 25px;
  color: white;
  height: 68px;
  width: 20px;
  font-size: 59px;
  font-weight: 400;
  line-height: 68px;
  letter-spacing: 0px;
  text-align: left;
}

/* container-4 */
.container_4 {
  height: 698px;
  width: 1440px;
  background: rgba(248, 253, 255, 1);
  position: relative;
  z-index: 1;
}
.right-oval-3 {
  position: absolute;
  box-sizing: border-box;
  left: 1123px;
  top: 2px;
  border: 50px solid #ffffff;
  box-shadow: 0px 10px 50px 12.5px rgba(0, 59, 121, 0.0725798),
    0px 10px 50px 12.5px rgba(0, 59, 121, 0.0725798) inset;
  height: 301px;
  width: 301px;
  border-radius: 150.5px;
  z-index: -1;
}
.newsletter {
  position: absolute;
  left: 121px;
  top: 110px;
  height: 478px;
  width: 1198px;
  border-radius: 20px;
  background: rgba(0, 127, 244, 1);
}

div.newsletter > div {
  margin-top: 44px;
  margin-left: 320px;
  height: 78px;
  width: 559px;
  font-size: 48px;
  font-weight: 600;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
div.newsletter > p {
  margin-top: 12px;
  margin-left: 326px;
  height: 39px;
  width: 555px;
  font-size: 20px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
div.newsletter > input {
  margin-top: 80px;
  margin-left: 177px;
  height: 40px;
  width: 766px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 1);
  border: none;
  padding: 40px;
  font-size: 20px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
}

#submit {
  position: absolute;
  margin-top: 386px;
  margin-left: 946px;
  height: 74px;
  width: 176px;
  left: 0px;
  top: 0px;
  border-radius: 37px;
  border: none;
  background: rgba(0, 127, 244, 1);
  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
}

/* Container 5 */
.container_5 {
  height: 144px;
  width: 1440px;
  background: rgba(248, 253, 255, 1);
}
.menu_footer {
  display: flex;
  flex-direction: row;
}
.navbar_brand_footer {
  margin-left: 120px;
  margin-top: 25px;
  margin-right: 330px;
  height: 43px;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 43px;
}

/* Container - 6 */
.container_6 {
  height: 241px;
  width: 1440px;
  background: rgba(236, 244, 255, 1);
  overflow: hidden;
  position: relative;
}
.logo {
  display: flex;
  flex-direction: row;
  margin-top: 49px;
}
.fb {
  margin-left: 124px;
  height: 51px;
  width: 51px;
  background: rgba(247, 251, 255, 1);
  border-radius: 25.5px;
}
div.fb > svg {
  margin-left: 21.1px;
  margin-top: 17px;
  height: 18px;
  width: 9px;
  width: 9.000749588012695px;
}
.google {
  margin-left: 9px;
  height: 51px;
  width: 51px;
  background: rgba(247, 251, 255, 1);
  border-radius: 25.5px;
}
div.google > svg {
  margin-left: 21.1px;
  margin-top: 17px;
  height: 18px;
  width: 18px;
  width: 9.000749588012695px;
}
.twitter {
  margin-left: 9px;
  height: 51px;
  width: 51px;
  background: rgba(247, 251, 255, 1);
  border-radius: 25.5px;
}
div.twitter > svg {
  margin-left: 21.1px;
  margin-top: 17px;
  height: 15px;
  width: 18px;
  width: 9.000749588012695px;
}
.copyright {
  margin-top: 16px;
  margin-left: 121px;
  font-size: 14px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(102, 124, 148, 1);
}
